* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f7;
}
 /*HEADER*/

.cabecalho-imagem {
    margin-left: 20px;
    height: 70px;
    width: 70px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #08034e;
    font-weight: 200;

}

.cabecalho-menu {
    padding: 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.cabecalho-menu-item {
    gap: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #08034e;
  

}

/*MAIN*/
main {
    background-color: white;
    padding: 100px;

}
.texto-principal {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
    color: #01020c;
    
}

.content__search{
    margin-top: 18px;
    width: 100%;
    max-width: 700px;
    padding: 7px 10px 6px 20px;
    font-size: 18px;
    color: #000;
    border-radius: 25px;
    border: 1px solid;
    outline: 0;
  
    }
.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.btn {

    background-color: #f8f9fa;
    border: 1px solid #afb2b3;
    border-radius: 4px;
    color: #097cd4;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: right;
    cursor: pointer;
    user-select:text;
}

/* Footer */

footer{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    background: #f3f3f7;
    bottom: 0;
}
.footer__section:not(:first-child){
    border-top: 1px solid #e4e4e4;
}
.footer-location{
    font-size: 18px;
    color: #08034e;
    padding: 10px 12px;
}



